*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    height: 100vh;
    width: 100%;
}

/* Start of Main Page */

h1 {
    height: 5vh;
    background-color: black;
    color: #d2cdb7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    letter-spacing: 2px;
    font-size: 16px;
}

a {
    color: #d2cdb7;
    text-decoration: none;
}

.body {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    color: #d2cdb7;
    width: 430px;
    height: 300px;
}

/*  End of Main Page  */


/* Start of Menu page */

.menubody {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: center;
}

h5 {
    font-size: large;
    margin-bottom: 10px;
}

/* end of Menu Page */


/* Start of Contact Page */

.contactbody {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: center;
}

h4 {
    color: #d2cdb7;
    font-size: x-large;
    margin-bottom: 10px;
}

/* End of contact page */

/* Start of reservation page */

.reservationbody {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
    color: white;
    text-align: center;
}

/* End of reservation page */ 